@import url('css/reset.css');


.wrapper {
    overflow: clip;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    padding: 100px;
    position: relative;
}
.car__body {
    width: 500px;
    height: 250px;
    background: darkgreen;
    border-radius: 180px 180px 50px 50px;
}
.car__hood {
    width: 200px;
    height: 150px;
    background: darkgreen;
    position: absolute;
    top: 200px;
    left: 0;
    border-radius: 20px 0 0 10px;
}
.car__trunk {
    width: 200px;
    height: 150px;
    background: darkgreen;
    position: absolute;
    top: 200px;
    left: 500px;
    border-radius:0 80px 10px 0;
    perspective: 200px;
}
.car__trunk::before{
    content: '';
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 0, 0.606);
    transform: rotateY(150deg);
    border-radius: 0 10px 10px 0;
    position: absolute;
    top: 70px;
    left: 190px;
}
.car__trunk::after{
    content: '';
    width: 12px;
    height: 50px;
    background: rgb(225, 157, 29);
    transform: rotateY(150deg);
    border-radius: 0 10px 10px 0;
    position: absolute;
    top: 70px;
    left: 188px;
}
.car__weel {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: grey;
}
.car__weels .car__weel:nth-child(1) {
    position: absolute;
    top: 300px;
    left: 90px;
}
.car__weels .car__weel:nth-child(2) {
    position: absolute;
    top: 300px;
    left: 490px;
}
.wrapper:nth-child(4) .car__weel{
    position: absolute;
    top: 200px;
    left: 50px;
}
.car__window {
    width: 120px;
    height: 70px;
    background: lightblue;
    border-radius: 20px 20px 0 0;
}
.car__windows .car__window:nth-child(1){
    position: absolute;
    top: 130px;
    left: 380px;
}
.car__windows .car__window:nth-child(2){
    position: absolute;
    top: 130px;
    left: 230px;
}