/* ----------- FONTS ----------- */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@500;700&family=DM+Serif+Text&family=Inter:wght@400;800&display=swap');

/* ----------- RESET ----------- */

@import url('reset.css');

/* ----------- MAIN STYLE ----------- */

body {
    font-family: 'Inter';
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
[class*='__container'] {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
[class*='--margin'] {
    margin-bottom: 30px;
}
.main {
    flex-grow: 1;
}

/* ----------- Header ----------- */

.header {
    text-align: center;
    padding: 20px 0;
    background: lightcyan;
}

/* ----------- Our products ----------- */

.section-products {
    background: #0E333D;
    color: #fff;
}
.section-products__container {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-products__title {
    line-height: 1.27;
    font-size: 48px;
    font-family: 'DM Serif Text';
    text-align: center;
}
.section-products__title:not(:last-child) {
    margin-bottom: 23px;
}
.section-products__sub-title {
    color: #EBEBEB;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.27;
    text-align: center;
    font-family: 'Cormorant Infant';
    font-weight: 700;
}
.section-products__sub-title:not(:last-child) {
    margin-bottom: 34px;
}
.section-products__menu {
    margin-bottom: 77px;
}
.section-products__list {
    display: flex;
    gap: 41px;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.27;
}
.body-products {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 -15px; */
    gap: 30px;
}
.body-products__card {
    /* flex: 0 0 25%;
    padding: 0 15px; */
    flex-basis: calc((100% - 90px) / 4);
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 17px;
    overflow: hidden;
}
.body-products__image {
    width: 100%;
    height: 100%;
    aspect-ratio: 270 / 270;
    object-fit: cover;
    transition: all 0.3s;
}
.body-products__info {
    font-family: 'Cormorant Infant';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
}
.body-products__description:not(:last-child) {
    margin-bottom: 4px;
}

/* ----------- The most popular products ----------- */

.most-popular__title {
    color: #291403;
    font-family: 'DM Serif Text';
    font-size: 58px;
    text-align: center;
}
.most-popular__title:not(:last-child) {
    margin-bottom: 27px;
}
.most-popular__sub-title {
    color: #818181;
    font-family: 'Cormorant Infant';
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
    text-align: center;
}
.most-popular__sub-title:not(:last-child) {
    margin-bottom: 62px;
}
.most-popular__block {
    margin-bottom: 76px;
}
.most-popular__button {
    text-align: center;
}
.most-popular__button a {
    padding: 12px 42px;
    color: #fff;
    background: #FF7A49;
    font-weight: 500;
    line-height: 1.87;
    transition: all 0.3s;
}
.most-popular__block .body-products__description a::after {
    content: '';
    width: 0;
    height: 2px;
    background: #000;
    display: block;
    position: relative;
    top: 0;
    left: 50%;
    opacity: 0;
    transition: all 0.4s;
}

/* ----------- Best seller ----------- */

.best-seller {
    background: url(../img/decor.webp) 100% 120% / 160px 280px no-repeat;
}
.best-seller__title {
    font-family: 'DM Serif Text';
    font-size: 58px;
}
.best-seller__title:not(:last-child) {
    margin-bottom: 27px;
}
.best-seller__sub-title {
    color: #606060;
    font-family: 'Inter';
    font-size: 20px;
    line-height: 1.8;
}
.best-seller__sub-title:not(:last-child) {
    margin-bottom: 50px;
}
.best-seller__block {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}
.best-seller__card {
    flex-basis: calc((100% - 96px) / 3);
    flex-grow: 1;
}
.best-seller__image {
    width: 100%;
    height: 100%;
    aspect-ratio: 356 / 241;
    object-fit: cover;
    margin-bottom: 20px;
    transition: all 0.3s;
}
.best-seller__label {
    font-family: 'DM Serif Text';
    font-size: 24px;
    line-height: 1.2;
}
.best-seller__label:not(:last-child) {
    margin-bottom: 16px;
}
.best-seller__text {
    opacity: 0.7;
}
.best-seller__text:not(:last-child) {
    margin-bottom: 8px;
}
.best-seller__more-info-box {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.best-seller__read-more {
    color: #F55529;
    font-weight: 800;
    line-height: 1.5;
}
.best-seller__read-more a::after {
    content: '';
    width: 0;
    height: 2px;
    background:#F55529;
    display: block;
    position: relative;
    top: 0;
    left: 50%;
    opacity: 0;
    transition: all 0.4s;
}
@keyframes arrow {
    0% {
        transform: rotate(25deg);
    }
    100% {
        transform: rotate(-25deg);
    }
}

/* ----------- Footer ----------- */

.footer {
    text-align: center;
    padding: 20px 0;
    background: lightcyan;
}

/* ----------- Media ----------- */

/* ----------- Our products media ----------- */

@media (max-width: 840px) {
    .body-products__card {
        flex-basis: calc((100% - 30px) / 2);
    }
    .section-products__menu {
        margin-bottom: 30px;
    }
    .section-products__container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .section-products__list {
        font-size: 21px;
        gap: 37px;
    }
}
@media (max-width: 490px) {
    .section-products__list {
        gap: 15px;
        text-align: center;
    }
    .section-products__item {
        flex-basis: calc((100% - 15px) / 2);
    }
    .section-products__title {
        line-height: 1;
        font-size: 40px;
    }
    .section-products__sub-title {
        font-size: 18px;
        font-weight: 500;
        line-height: 1;
    }
    .section-products__container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .body-products__description {
        font-weight: 400;
        font-size: 18px;
        line-height: 1;
    }
    .body-products__description:not(:last-child) {
        margin-bottom: 10px;
    }
    .body-products {
        gap: 20px;
    }
}
@media (max-width: 320px) {
    .section-products__container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .section-products__title {
        line-height: 1;
        font-size: 30px;
    }
    .section-products__sub-title {
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
    }
    .body-products {
        gap: 10px;
    }
    .body-products__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 1;
    }
    .section-products__item {
        font-size: 20px;
        font-weight: 500;
    }
    .section-products__title:not(:last-child) {
        margin-bottom: 13px;
    }
    .section-products__sub-title:not(:last-child) {
        margin-bottom: 18px;
    }
    .section-products__menu {
        margin-bottom: 20px;
    }
}

/* ----------- The most popular products media ----------- */

@media (max-width: 840px) {
    .most-popular__title {
        font-size: 50px;
    }
    .most-popular__title:not(:last-child) {
        margin-bottom: 20px;
    }
    .most-popular__sub-title {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.4;
    }
    .most-popular__sub-title:not(:last-child) {
        margin-bottom: 30px;
    }
}
@media (max-width: 490px) {
    .most-popular__title {
        font-size: 44px;
    }
    .most-popular__title:not(:last-child) {
        margin-bottom: 16px;
    }
    .most-popular__sub-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.4;
    }
    .most-popular__sub-title:not(:last-child) {
        margin-bottom: 15px;
    }
    .most-popular__block {
        margin-bottom: 35px;
    }
}
@media (max-width: 320px) {
    .most-popular__title {
        font-size: 36px;
    }
    .most-popular__title:not(:last-child) {
        margin-bottom: 10px;
    }
    .most-popular__sub-title {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.4;
    }
    .most-popular__sub-title:not(:last-child) {
        margin-bottom: 10px;
    }
    .most-popular__block {
        margin-bottom: 20px;
    }
    .most-popular__button a {
        padding: 8px 30px;
        font-weight: 500;
        line-height: 1.87;
    }
}

/* ----------- Best seller media ----------- */

@media (max-width: 600px) {
    .best-seller__card {
        flex-basis: calc((100% - 20px) / 2);
        flex-grow: 0;
    }
    .best-seller__block {
        gap: 20px;
        justify-content: center;
    }
    .best-seller__title {
        font-size: 50px;
    }
    .best-seller__title:not(:last-child) {
        margin-bottom: 15px;
    }
    .best-seller__sub-title {
        font-size: 18px;
        line-height: 1.8;
    }
    .best-seller__sub-title:not(:last-child) {
        margin-bottom: 20px;
    }
    .best-seller__label {
        font-size: 22px;
        line-height: 1;
    }
    .best-seller__label:not(:last-child) {
        margin-bottom: 12px;
    }
    .best-seller__read-more {
        font-size: 20px;
    }
    .best-seller {
        background: url(../img/decor.webp) 100% 110% / 170px 320px no-repeat;
    }
}
@media (max-width: 425px) {
    .best-seller__block {
       margin: 0 -20px;
    }
    .best-seller__card {
        flex-basis: calc(100% - 50px);
    }
    .best-seller__title {
        font-size: 40px;
    }
    .best-seller__title:not(:last-child) {
        margin-bottom: 10px;
    }
    .best-seller__sub-title {
        font-size: 16px;
        line-height: 1;
    }
    .best-seller__sub-title:not(:last-child) {
        margin-bottom: 10px;
    }
    .best-seller__label {
        font-size: 20px;
        line-height: 1;
    }
    .best-seller {
        background: none;
    }
}
@media (max-width: 1312px) and (min-width: 600px){
    .best-seller {
        background: none;
    }
}

/* ----------- Hover media ----------- */

@media (any-hover: hover) {
    .section-products a:hover {
        text-decoration: underline;
    }
    .body-products__image:hover {
        transform: scale(1.06);
    }
    .most-popular__block a:hover::after{
        width: 100%;
        top: 0;
        left: 0;
        opacity: 1;
    }
    .best-seller__read-more:hover a::after {
        width: 100%;
        top: 0;
        left: 0;
        opacity: 1;
    }
    .best-seller__arrow:hover {
        animation: arrow 0.5s infinite alternate ease-in-out;
    }
    .most-popular__button a:hover {
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
        background: #f16735;
    }
    .best-seller__image:hover {
        transform: scale(1.05);
    }
}
