/* Скидання стилів */
@import url('reset.css');

/* ------------------------------------- */

* {
    color: rgba(82, 61, 61, 0.884);
}

h1 {
    color: black;
}

.main-title,
.sub-title {
    color: brown;
}

.text span {
    color: blueviolet;
}

.book-name > a {
    color: rgba(31, 198, 198, 0.762);
}

a {
    color: blue;
}

.rights {
    color: green;
}

h3.book-title {
    color: rgb(255, 68, 0);
}