/* ---------- Fonts ---------- */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@700&family=Inter:wght@400;500&family=Poppins:wght@700&display=swap');

@import url('fonts.css');

/* ---------- Reset ---------- */

@import url('reset.css');

/* ---------- Main ---------- */

/* ---------- Jewels ---------- */

.block-jewels {
    font-family: 'Cormorant Infant', sans-serif;
    font-weight: 700;
    color: #606060;
    padding: 50px 15px;
    max-width: 1135px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.jewels-content,
.pic-line1,
.pic-line2 {
    display: inline-block;
}
.jewels-content {
    margin: 0 75px 0 0;
    max-width: 503px;
    vertical-align: middle;
}
.intro-sign {
    font-size: 20px;
    color: #D58417;
    line-height: 1;
    margin-bottom: 27px;
}
.jewels-title {
    font-size: 64px;
    color: #000;
    line-height: 1;
    margin-bottom: 31px;
}
.jewels-text {
    font-size: 30px;
    line-height: 1.4;
}
.pic-line1 {
    vertical-align: middle;
    margin-right: 29px;
    border: 1px solid black;
    border-radius: 235px;
    padding: 14px 10px 0 0;
}
.pic-line2 {
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 235px;
    padding: 19px 11px 0 0;
}
.pic-line1 > img {
    border-radius: 235px;
    margin: 0 0 -14px -10px ;
}
.pic-line2 > img {
    border-radius: 235px;
    margin: 0 0 -19px -11px ;
}

/* ---------- Licencing ---------- */

body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #7D7D7D;
}

.block-licencing {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #7D7D7D;
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 15px;
}
.title,
.licencing-sub-title,
.licencing-topic {
    line-height: 1.21;
    color: #37393F;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.title {
    text-align: center;
}
.block-sign {
    text-align: center;
}
.square {
    width: 12px;
    height: 12px;
    border: 6px solid #40DDB6;
    display: inline-block;
}
.up-sign {
    font-weight: 500;
    color: #37393F;
    margin-bottom: 16px;
    display: inline-block;
}
.title {
    font-size: 60px;
    margin-bottom: 70px;
}
.licencing-icons {
    margin-bottom: 100px;
}
.licencing-sub-title {
    margin-bottom: 11px;
}
.licencing-text {
    margin-bottom: 24px;
    line-height: 1.46;
}
.licencing-topic {
    margin-bottom: 8px;
}
.licencing-photo {
    margin-bottom: 100px;
}
.licencing-text-color {
    margin-bottom: 24px;
}
span,
a,
.licencing-text-color {
    color: #40DDB6;
}

/* ---------- Info ---------- */

.block-info {
    max-width: 860px;
    margin: 0 auto;
    padding: 0 15px;
}
.block-info > .title {
    text-align: left;
    margin-bottom: 13px;
}
.text {
    margin-bottom: 35px;
}
.info-items {
    font-weight: 500;
    margin-bottom: 30px;
}

/* ---------- Clothing ---------- */

.block-clothing {
    font-family: 'Causten';
    font-size: 20px;
    line-height: 1.6;
    color: #807D7E;
    max-width: 1219px;
    margin: 0 auto;
    padding: 0 21px;
}
.title-container {
    margin-bottom: 30px;
}
.vertical-line {
    width: 6px;
    height: 28px;
    border: 3px solid #8A33FD;
    border-radius: 10px;
    display: inline-block;
    margin-right: 15px;
}
.title-clothing {
    font-family: 'CoreSansC';
    font-weight: 600;
    font-size: 28px;
    line-height: 1.2;
    color: #3C4242;
    display: inline-block;
}
.sub-title-clothing {
    font-family: 'CoreSansC';
    font-weight: 600;
    margin-bottom: 25px;
}
.link-clothing {
    color: #807D7E;
}
.text-clothing {
    margin-bottom: 20px;
}
.word {
    color: #807D7E;
    font-family: 'CoreSansC';
    font-weight: 600;
}


.practice-link {
    text-align: center;
    padding: 30px;
}
.practice {
    font-size: 40px;
    font-weight: 700;
    color: aqua;
    text-transform: uppercase;
    text-decoration: underline;
}