/* -------------- fonts -------------- */
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@500;700&family=Roboto:ital,wght@0,400;0,500;1,500&display=swap');
@import url('fonts.css');

/* -------------- Reset file -------------- */
@import url('reset.css');

/* -------------- main styles -------------- */

body {
    font-family: "Roboto";
    line-height: 1.7;
    color: #333;
}
.header {
    font-family: "Khand";
}
.main-title {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 5px 5px 7px grey;
}
.sub-title {
    font-weight: 500;
    font-size: 25px;
    text-shadow: 1px 1px 15px green;
    text-indent: 30px;
}
.published-info {
    color: #3333338e;
}
a {
    color: #42a577;
    text-decoration: underline;
    font-family: "Roboto";
    font-style: italic;
}
.list-name {
    text-align: center;
}
.item {
    font-family: "Khand";
    font-weight: 700;
}
.text {
    text-indent: 50px;
}
.block-title {
    font-family: "Khand";
    font-size: 30px;
    letter-spacing: 3px;
    color:green;
    text-transform: capitalize;
    text-shadow: 2px 2px 7px greenyellow;
    text-align: center;
}
.speech {
    font-style: italic;
    text-align: justify;
    color: #4fefa5;
}

/* -------------- design block -------------- */

.block-design {
    font-family: 'Inter';
    font-size: 18px;
    color: #7D7D7D;
    line-height: 1.46;
}
h2 {
    font-family: 'Poppins';
    color: #37393F;
}
.title-desing {
    font-weight: 600;
    font-size: 30px;
}
.text-design {
    text-align: justify;
}
li {
    font-weight: 500;
    text-indent: 40px;
}
.sub-title-design {
    font-family: 'Poppins';
    color: #6B77E5;
    font-size: 20px;
    font-weight: 600;
}
.title-info {
    font-size: 40px;
    font-weight: 700;
}