/* ----------- FONTS ----------- */

@import url('fonts.css');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@700&display=swap');

/* ----------- RESET ----------- */

@import url('reset.css');

/* ----------- MAIN STYLE ----------- */

body {
    font-family: 'Causten';
    color: #3C4242;
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
[class*="__container"] {
	max-width: 925px;
	margin: 0 auto;
	padding: 0px 15px;
}
.main {
    flex-grow: 1;
}
/* ----------- Header ----------- */

.header {
    margin: 0 auto;
}
.header__container {
    display: flex;
    align-items: center;
    padding: 30px 0;
    flex-wrap: wrap;
    max-width: 1240px;
}
.header__logo {
    max-width: 92px;
    margin-right: 163px;
}
.header__logo img {
    width: 100%;
}
.header__search {
    margin-right: 210px;
    position: relative;
}
.header__input {
    background: #F6F6F6;
    border-radius: 8px;
    padding: 12px 48px;
    max-width: 184px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 184px;
}
.header__input::placeholder {
    color: #807D7E;
    font-size: 18px;
    font-weight: 500;
    padding-left: 32px;
    background: url(../img/header/search.svg) no-repeat;
}
.header__language-selection {
    position: relative;
    margin-right: 60px;
    flex-grow: 0;
    flex-shrink: 1;
}
.menu {
    color: #333;
    font-size: 18px;
    font-weight: 400;
}
.menu:hover .menu__list{
    visibility: visible;
}
.menu__text a::after {
    content: '';
    width: 10px;
    height: 5px;
    background: url(../img/header/arrow-open.svg) center / 100% no-repeat;
    margin-left: 19px;
    vertical-align: middle;
}
.menu__list {
    position: absolute;
    top: 100%;
    left: 0;
    background: rgb(245, 245, 245);
    border-radius: 10px;
    width: 100%;
    visibility: hidden;
    border: 1px solid #8A33FD;
}
.menu__item {
    padding: 5px;
    transition: color 0.3s;
}
.menu__item:hover {
    color: #8A33FD;
}
.menu__item:not(:last-child) {
    margin-bottom: 5px;
}
.header__buttons {
    display: flex;
    gap: 29px;
    flex-grow: 0;
    flex-shrink: 1;
}
.header__login {
    font-size: 18px;
    font-weight: 500;
    color: white;
    border-radius: 8px;
    border: 1px solid #3C4242;
    background: #8A33FD;
    text-align: center;
    transition: all 0.5s;
}
.header__sing-up {
    font-size: 18px;
    font-weight: 500;
    color: #8A33FD;
    border-radius: 8px;
    border: 1px solid #3C4242;
    transition: all 0.5s;
}
.header__login a,
.header__sing-up a {
    padding: 12px 48px;
}
.header__login:hover {
    color: #FFF;
    background: #6620C1;
}
.header__sing-up:hover {
    background: rgba(102, 32, 193, 0.06);
}

/* ----------- Profile ----------- */

.title,
.sub-title {
    font-family: 'Core Sans C';
    font-weight: 600; 
}
.title {
    font-size: 28px;
    line-height: 1.19;
    letter-spacing: 0.56px;
}
.sub-title {
    font-size: 22px;
    line-height: 1.52;
    letter-spacing: 0.44px;
}
.title:not(:last-child) {
    margin-bottom: 20px;
}
.sub-title:not(:last-child) {
    margin-bottom: 50px;
}
.profile__info {
    display: flex;
    flex-wrap: wrap;
    row-gap: 31px;
    column-gap: 42px;
    margin-bottom: 30px;
}
.info-personal__details {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc((100% - 42px) / 2);
    display: flex;
    flex-direction: column;
    /* min-width: 300px; 340px */
    row-gap: 10px;
}
.info-personal__label {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.36px;
    max-width: fit-content;
}
.info-personal__input,
.info-personal__textarea,
.info-personal__list {
    height: 55px;
    padding: 0 22px;
    border-radius: 8px;
    background: #F6F6F6;
}
.info-personal__input::placeholder {
    color: #807D7E;
}
.info-personal__list {
    color: #807D7E;
}
.info-personal__delivery {
    width: 100%;
}
.info-personal__delivery .info-personal__label {
    display: inline-block;
}
.info-personal__delivery .info-personal__label:not(:last-child) {
    margin-bottom: 10px;
}
.info-personal__textarea {
    min-height: 149px;
    min-width: 100%;
    padding: 18px 22px;
    resize: vertical;
}
.profile__check-group {
    margin-bottom: 50px;
}
.profile__checkbox:not(:last-child) {
    margin-bottom: 10px;
}
.checkbox {
    position: relative;
}
.checkbox__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
}
.checkbox__input:focus-visible + .checkbox__label {
    outline: 2px solid #BEBCBD;
}
.checkbox__input:checked + .checkbox__label::before {
    content: '';
    width: 18px;
    height: 18px;
    flex: 0 0 18px;
    background: url(../img/checkbox-checked.svg) no-repeat;
    border: none;
}
.checkbox__label {
    font-size: 20px;
    display: inline-flex;
    gap: 11px;
    cursor: pointer;
    padding: 2px 2px 1px 2px;
}
.checkbox__label::before {
    content: '';
    width: 18px;
    height: 18px;
    flex: 0 0 18px;
    border: 2px solid #BEBCBD;
    border-radius: 2px;
}
.profile__box-buttons {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}
.button {
    padding: 12px 40px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background: #8A33FD;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 140px;
    transition: all 0.3s;
}
.profile__submit {
    color: white;
    background: #8A33FD;
}
.profile__box-buttons > .profile__reset {
    background: #F6F6F6;
    color: #807D7E;
}
.profile__box-buttons > .profile__reset:hover {
    background: #eceaea;
    color: #5b5657;
}

/* ----------- Check-out ----------- */


.check-out {
    max-width: 802px;
}
.title {
    display: flex;
    gap: 15px;
}
.title::before {
    content: '';
    width: 6px;
    height: 28px;
    border-radius: 10px;
    background: #8A33FD;
    flex: 0 0 6px;
}
.check-out__info {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-bottom: 43px;
}
.info-personal__box-columns {
    display: flex;
    flex-wrap: wrap;
    column-gap: 38px;
    row-gap: 28px;
}
.info-personal__box-row {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.info-personal__box-row > .info-personal__details {
    flex-basis: calc((100% - 64px) / 3);
    flex-shrink: 1;
    flex-grow: 0;
}
.check-out__box-bttn {
    margin-bottom: 20px;
}
.check-out__submit {
   font-size: 18px;
   font-weight: 500;
   padding: 16px 20px;
   flex-basis: 195px;
}
.check-out__checkbox {
    margin-bottom: 62px;
}
.check-out__checkbox .checkbox__label {
    font-size: 18px;
}

/* ----------- Payment method ----------- */

.check-out__billing-info {
    margin-bottom: 20px;
}
.option {
    border-top: 1px solid #EDEEF2;
    padding: 30px 0;
}
.option__sub-title:not(:last-child) {
    margin-bottom: 8px;
}
.option__heading {
    margin-bottom: 30px;
}
.option__box {
    background: #F6F6F6;
    padding: 15px 30px;
    border-radius: 12px;
}
.option__choice {
    padding: 25px 0;
    position: relative;
}
.option__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
}
.option__input:checked + .option__label::before {
    background: url(../img/radio.svg) center no-repeat;
    border: none;
}
.option__label {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    row-gap: 5px;
    padding-left: 37px;
}
.option__label::before {
    content: '';
    width: 18px;
    height: 18px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); 
}
.option__label > span {
    color: #3C4242;
    font-size: 16px;
    font-weight: 400;
}
.option__label:not(:last-child) {
    margin-bottom: 5px;
}
.option__info-label > p:not(:last-child) {
    margin-bottom: 8px;
}
.option__choice:not(:last-child) {
    border-bottom: 1px solid #BEBCBD;
}
.label {
    font-size: 20px;
    font-weight: 700; 
}
.label__text {
    color: #807D7E;
    font-weight: 500;
    font-size: 16px;
}
.option__choice--flex {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.option__price {
    flex-shrink: 0;
}
.option__credit-card {
    display: flex;
    column-gap: 19px;
}
.option__paying-details {
    padding: 0 23px 0 37px;
    display: none;
}
.option__input:checked ~ .option__paying-details {
    display: block;
}
.option__type-pay {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 30px 0;
}
.option__type-pay a:hover {
    box-shadow: 1px 1px 3px grey;
    transform: scale(1.1);
}
.option__card-specification {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.option__details-card {
    flex-grow: 1;
    flex-basis: calc((100% - 30px) / 2);
    position: relative;
}
.option__card-input {
    width: 100%;
    padding: 16px 20px;
    border: 1px solid #3C4242;
    border-radius: 8px;
    background: #F6F6F6;
}
.option__details-card::placeholder {
    color: #807D7E;
}
.option__eye-pass {
    position: absolute;
    top: 16.5px;
    right: 20px;
}
.button:hover {
    background: #6620C1;
}

/* ----------- Consulting ----------- */

.consulting__label {
    color: #37393F;
    text-align: center;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    display: flex;
    gap: 6px;
    justify-content: center;
}
.consulting__label::before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #40DDB6;
    align-self: center;
}
.consulting__label:not(:last-child) {
margin-bottom: 18px;
}
.consulting__title:not(:last-child) {
    margin-bottom: 40px;
}
.consulting__title {
    color: #37393F;
    text-align: center;
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 700;
    line-height: 1.21;
}
.consulting__box {
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 28px;
    margin-bottom: 50px;
}
.consulting__item {
    flex-grow: 1;
    flex-basis: calc((100% - 35px) / 2);
    position: relative;
}
.consulting__placeholder {
    position: absolute;
    top: 22px;
    left: 40px;
    color: #37393F;
    font-family: 'Inter';
    font-size: 18px;
    transition: all 0.3s;
}
.consulting__input {
    border: 1px solid #DDD;
    background: #F8F8F8;
    padding: 21px 40px;
    width: 100%;
}
.consulting__textarea:focus + .consulting__placeholder,
.consulting__input:focus + .consulting__placeholder {
    top: -20px;
    left: 10px;
    font-size: 16px;
}
.consulting__textarea::placeholder,
.consulting__input::placeholder {
    color: #37393F;
    font-family: 'Inter';
    font-size: 18px;
}
.consulting__message {
    flex-grow: 1;
    min-width: 100%;
    position: relative;
}
.consulting__textarea {
    border: 1px solid #DDD;
    background: #F8F8F8;
    height: 222px;
    padding: 22px 40px;
    resize: none;
    width: 100%;
}
.consulting__buttons {
    text-align: center;
}
.consulting__button {
    background: #6B77E5;
    padding: 21px 61px;
    color: white;
    transition: all 0.3s;
}
.consulting__button:hover {
    background: #3c4bd5;
}

/* ----------- Footer ----------- */

.footer {
    background: #8A33FD;
    color: #FFF;
    text-align: center;
    padding: 20px 0;
}