@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@font-face {
  font-family: "Causten";
  src: url("../fonts/causten/Causten-Light.woff2") format("woff2"), url("../fonts/causten/Causten-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten/Causten-Regular.woff2") format("woff2"), url("../fonts/causten/Causten-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten/Causten-Medium.woff2") format("woff2"), url("../fonts/causten/Causten-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten/Causten-Semi-Bold.woff2") format("woff2"), url("../fonts/causten/Causten-Semi-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten/Causten-Bold.woff2") format("woff2"), url("../fonts/causten/Causten-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/core-sans-c/CoreSansC-55Medium.woff2") format("woff2"), url("../fonts/core-sans-c/CoreSansC-55Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/core-sans-c/CoreSansC-65Bold.woff2") format("woff2"), url("../fonts/core-sans-c/CoreSansC-65Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/core-sans-c/CoreSansC-75ExtraBold.woff2") format("woff2"), url("../fonts/core-sans-c/CoreSansC-75ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@-webkit-keyframes arrow-left {
  0% {
    left: -87px;
  }
  100% {
    left: -77px;
  }
}
@keyframes arrow-left {
  0% {
    left: -87px;
  }
  100% {
    left: -77px;
  }
}
@-webkit-keyframes arrow-right {
  0% {
    right: -87px;
  }
  100% {
    right: -77px;
  }
}
@keyframes arrow-right {
  0% {
    right: -87px;
  }
  100% {
    right: -77px;
  }
}
@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes arrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
body {
  font-family: "Causten";
  font-size: 14px;
}
.menu-open body {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  background: white;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 76px;
     -moz-column-gap: 76px;
          column-gap: 76px;
  row-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1200px) {
  .header__container {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
@media (max-width: 768px) {
  .header__container {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    height: 65px;
  }
}
@media (max-width: 425px) {
  .header__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media (max-width: 375px) {
  .header__container {
    height: 50px;
  }
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
@media (max-width: 425px) {
  .header__link img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.header__search {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 160px;
          flex: 0 1 160px;
  position: relative;
  width: 21.0236220472%;
  max-width: 267px;
}
@media (max-width: 520px) {
  .header__search {
    display: none;
  }
}
.header__input {
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  background: #F6F6F6;
  padding: 12px 20px;
}
.header__input::-webkit-input-placeholder {
  color: #807D7E;
  text-align: center;
  font-size: 16px;
  background: url(../img/header/icons/search.svg) left/20px 20px no-repeat;
}
.header__input::-moz-placeholder {
  color: #807D7E;
  text-align: center;
  font-size: 16px;
  background: url(../img/header/icons/search.svg) left/20px 20px no-repeat;
}
.header__input:-ms-input-placeholder {
  color: #807D7E;
  text-align: center;
  font-size: 16px;
  background: url(../img/header/icons/search.svg) left/20px 20px no-repeat;
}
.header__input::-ms-input-placeholder {
  color: #807D7E;
  text-align: center;
  font-size: 16px;
  background: url(../img/header/icons/search.svg) left/20px 20px no-repeat;
}
.header__input::placeholder {
  color: #807D7E;
  text-align: center;
  font-size: 16px;
  background: url(../img/header/icons/search.svg) left/20px 20px no-repeat;
}
.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
@media (max-width: 520px) {
  .header__icons {
    gap: 8px;
  }
}
.header__favourite, .header__user, .header__basket {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 8px;
  background: #F6F6F6;
  padding: 12px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid transparent;
}
.header__favourite:hover, .header__user:hover, .header__basket:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  border: 1px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 425px) {
  .header__favourite, .header__user, .header__basket {
    padding: 8px;
  }
}
.header__magnificier {
  display: none;
}
@media (max-width: 520px) {
  .header__magnificier {
    display: block;
    border-radius: 8px;
    background: #F6F6F6;
    padding: 12px;
  }
}
@media (max-width: 425px) {
  .header__magnificier {
    padding: 8px;
  }
}
.header__burger {
  position: relative;
  width: 30px;
  height: 20px;
  -ms-flex-item-align: center;
      align-self: center;
}
.header__burger span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #807D7E;
  top: 50%;
  left: 0;
  margin-top: -1px;
}
.header__burger::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #807D7E;
  position: absolute;
  top: 0;
  left: 0;
}
.header__burger::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #807D7E;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (min-width: 1010px) {
  .header__burger {
    display: none;
  }
}
@media (max-width: 425px) {
  .header__burger {
    width: 20px;
    height: 15px;
  }
}
.header__close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15%;
  top: -100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__close img {
  width: 100%;
  height: 100%;
}
.header__searching {
  position: absolute;
  top: -100%;
  left: 10%;
  width: 80%;
  height: 50px;
  border-radius: 20px;
  border: 2px solid #807D7E;
  padding: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.search-open .header__searching {
  top: 100%;
}
.search-open .header__close {
  right: 15%;
  top: 130%;
}

.menu-open .list {
  position: absolute;
  top: 100%;
  left: 0;
  background: #F6F6F6;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 15px;
}
.menu-open .list__item {
  font-size: 26px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .list {
    gap: 20px;
  }
}
@media (max-width: 1010px) {
  .list {
    display: none;
  }
}
.list__item {
  color: #807D7E;
  font-size: 22px;
  font-weight: 500;
}
.list__item:hover a {
  text-decoration: underline;
  color: #2A2F2F;
}
.list__item--active {
  font-weight: 700;
  color: #3C4242;
}
.list__item--active:hover a {
  text-decoration: none;
  color: #2A2F2F;
}
.list__link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hero-section {
  color: white;
  margin-top: 100px;
  min-height: 715px;
  position: relative;
}
.hero-section__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  aspect-ratio: 1449/716;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
@media (max-width: 768px) {
  .hero-section__image {
    -o-object-position: 70%;
       object-position: 70%;
  }
}
.hero-section--margin:not(:last-child) {
  margin-bottom: 130px;
}
@media (max-width: 768px) {
  .hero-section--margin:not(:last-child) {
    margin-bottom: 90px;
  }
}
@media (max-width: 425px) {
  .hero-section--margin:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media (max-width: 900px) {
  .hero-section {
    min-height: 680px;
  }
}
@media (max-width: 768px) {
  .hero-section {
    margin-top: 65px;
    min-height: 500px;
  }
}
@media (max-width: 425px) {
  .hero-section {
    min-height: 460px;
  }
}
@media (max-width: 375px) {
  .hero-section {
    min-height: 380px;
    margin-top: 50px;
  }
  .hero-section::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3803921569);
    position: absolute;
  }
}
.hero-section__box {
  position: relative;
}
.hero-section__box:hover::before {
  -webkit-animation: arrow-left 0.7s infinite ease-in-out alternate;
          animation: arrow-left 0.7s infinite ease-in-out alternate;
}
.hero-section__box:hover::after {
  -webkit-animation: arrow-right 0.7s infinite ease-in-out alternate;
          animation: arrow-right 0.7s infinite ease-in-out alternate;
}
.hero-section__box::before {
  content: "";
  width: 24px;
  height: 45px;
  background: url(../img/icons/slider-lf.svg) center/100% no-repeat;
  position: absolute;
  top: 50%;
  left: -87px;
  margin-left: 1.3802622498%;
}
.hero-section__box::after {
  content: "";
  width: 24px;
  height: 45px;
  background: url(../img/icons/slider-rt.svg) center/100% no-repeat;
  position: absolute;
  top: 50%;
  right: -87px;
  margin-right: 1.3888888889%;
}
@media (max-width: 768px) {
  .hero-section__box::before {
    width: 0;
  }
  .hero-section__box::after {
    width: 0;
  }
}
.hero-section__container {
  padding-left: 87px;
  padding-right: 87px;
}
@media (max-width: 768px) {
  .hero-section__container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.hero-section__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  padding-top: 129px;
  max-width: 439px;
}
@media (max-width: 768px) {
  .hero-section__body {
    padding-top: 70px;
    gap: 25px;
  }
}
@media (max-width: 375px) {
  .hero-section__body {
    padding-top: 40px;
    gap: 20px;
  }
}
.hero-section__tag, .hero-section__title, .hero-section__tagline {
  color: #FFF;
  font-family: "Core Sans C";
}
@media (max-width: 768px) {
  .hero-section__tag, .hero-section__title, .hero-section__tagline {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.631372549);
  }
}
.hero-section__tag {
  font-size: 32px;
  font-weight: 500;
  line-height: 37.771px; /* 118.035% */
  letter-spacing: 0.157px;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .hero-section__tag {
    font-size: 28px;
    line-height: normal;
  }
}
@media (max-width: 375px) {
  .hero-section__tag {
    font-size: 22px;
  }
}
.hero-section__title {
  font-size: 78px;
  font-weight: 800;
  line-height: 93.622px; /* 120.028% */
  letter-spacing: 0.315px;
}
@media (max-width: 768px) {
  .hero-section__title {
    font-size: 54px;
    line-height: 1.5;
  }
}
@media (max-width: 375px) {
  .hero-section__title {
    font-size: 48px;
    line-height: 1.3;
  }
}
.hero-section__tagline {
  color: #FFF;
  font-family: "Core Sans C";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 47.214px; /* 147.544% */
  letter-spacing: 0.315px;
}
@media (max-width: 768px) {
  .hero-section__tagline {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .hero-section__tagline {
    font-size: 22px;
  }
}
.hero-section__link {
  color: #3C4242;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  border-radius: 8px;
  background: #FFF;
  padding: 16px 72px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
@media (max-width: 490px) {
  .hero-section__link {
    -webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.8);
            box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.8);
  }
}
@media (max-width: 375px) {
  .hero-section__link {
    padding: 16px 62px;
  }
}
.hero-section__link:hover {
  color: #1a1c1c;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.4);
}

.props--margin:not(:last-child) {
  margin-bottom: 130px;
}
@media (max-width: 768px) {
  .props--margin:not(:last-child) {
    margin-bottom: 90px;
  }
}
@media (max-width: 425px) {
  .props--margin:not(:last-child) {
    margin-bottom: 60px;
  }
}
.props__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  gap: 30px;
}
@media (max-width: 425px) {
  .props__container {
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
.props__item {
  position: relative;
}
@media (max-width: 425px) {
  .props__item::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2941176471);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 14px;
  }
}
.props__image {
  border-radius: 14px;
  width: 100%;
  height: 100%;
  aspect-ratio: 605/356;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
}
@media (max-width: 425px) {
  .props__image {
    -o-object-position: top right;
       object-position: top right;
  }
  .props__image--position {
    -o-object-position: top center;
       object-position: top center;
  }
}
.props__body {
  color: #FFF;
  font-family: "Core Sans C";
  padding: 67px 10px 80px 30px;
  max-width: 310px;
}
@media (max-width: 1100px) {
  .props__body {
    max-width: 280px;
    text-shadow: 2px 2px 8px #000;
  }
}
@media (max-width: 425px) {
  .props__body {
    position: relative;
    z-index: 5;
    padding: 30px 10px 30px 10px;
  }
}
.props__label {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 800;
  line-height: 30.067px; /* 167.038% */
  letter-spacing: 0.251px;
}
.props__label:not(:last-child) {
  margin-bottom: 25px;
}
.props__title {
  font-size: 34px;
  font-weight: 800;
  line-height: 45.1px; /* 132.648% */
}
.props__title:not(:last-child) {
  margin-bottom: 10px;
}
@media (any-hover: hover) {
  .props__title:hover a {
    text-decoration: underline;
  }
}
.props__discount {
  font-weight: 500;
  line-height: 25.056px; /* 156.598% */
  letter-spacing: 0.251px;
  font-size: 16px;
  text-transform: capitalize;
}
.props__discount:not(:last-child) {
  margin-bottom: 42px;
}
.props__link {
  font-size: 20px;
  font-weight: 800;
  line-height: 30.132px; /* 150.66% */
}
.props__link a::after {
  content: "";
  width: 0;
  height: 2px;
  background: white;
  display: block;
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
@media (any-hover: hover) {
  .props__link:hover ::after {
    width: 100%;
    left: 0;
  }
}

.saving--margin:not(:last-child) {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .saving--margin:not(:last-child) {
    margin-bottom: 80px;
  }
}
@media (max-width: 425px) {
  .saving--margin:not(:last-child) {
    margin-bottom: 60px;
  }
}
.saving__box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width: 1070px) {
  .saving__box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 750px) {
  .saving__box {
    grid-template-columns: repeat(1, 1fr);
  }
}
.saving__card {
  grid-column: span 2;
  position: relative;
}
@media (max-width: 1070px) {
  .saving__card {
    grid-column: span 1;
  }
}
.saving__card--size {
  grid-column: span 3;
}
@media (max-width: 1070px) {
  .saving__card--size {
    grid-column: span 1;
  }
}
.saving__card:nth-child(2) .saving__body {
  position: relative;
  left: 50%;
  text-align: right;
}
@media (max-width: 425px) {
  .saving__card:nth-child(2) .saving__body {
    left: 40%;
  }
}
.saving__card:nth-child(3) .saving__button, .saving__card:nth-child(4) .saving__button, .saving__card:nth-child(5) .saving__button {
  color: #3C4242;
  border: 2px solid #3C4242;
}
.saving__card:nth-child(3) .saving__body, .saving__card:nth-child(4) .saving__body, .saving__card:nth-child(5) .saving__body {
  color: #3C4242;
  position: relative;
  left: 50%;
}
@media (max-width: 425px) {
  .saving__card:nth-child(3) .saving__body, .saving__card:nth-child(4) .saving__body, .saving__card:nth-child(5) .saving__body {
    left: 45%;
  }
}
@media (max-width: 1200px) {
  .saving__card:nth-child(1) .saving__body, .saving__card:nth-child(2) .saving__body {
    text-shadow: 2px 2px 8px #000;
  }
}
.saving__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 400/393;
  -o-object-position: top;
     object-position: top;
  border-radius: 12px;
}
@media (max-width: 425px) {
  .saving__image {
    -o-object-position: 40%;
       object-position: 40%;
  }
}
.saving__body {
  max-width: 50%;
  color: #FFF;
  padding: 65px 20px;
}
@media (max-width: 425px) {
  .saving__body {
    max-width: 60%;
  }
}
.saving__limited {
  border-radius: 4px;
  background: #3C4242;
  padding: 16px 8px;
  text-align: center;
}
.saving__limited:not(:last-child) {
  margin-bottom: 28px;
}
.saving__sub-title {
  font-family: "Core Sans C";
  font-size: 28px;
  font-weight: 600;
  line-height: 38.431px; /* 137.255% */
  letter-spacing: 0.56px;
}
.saving__sub-title:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 420px) {
  .saving__sub-title {
    font-size: 22px;
  }
}
.saving__label {
  font-size: 12px;
  font-weight: 500;
}
.saving__label:not(:last-child) {
  margin-bottom: 10px;
}
.saving__discount {
  font-size: 18px;
  font-weight: 700;
}
.saving__discount:not(:last-child) {
  margin-bottom: 30px;
}
.saving__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.saving__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 110px;
}
.saving__arrow {
  -webkit-animation: arrow 0.7s infinite ease alternate;
          animation: arrow 0.7s infinite ease alternate;
}
.saving__button {
  border: 2px solid white;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .saving__button:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.arrival--margin:not(:last-child) {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .arrival--margin:not(:last-child) {
    margin-bottom: 80px;
  }
}
@media (max-width: 425px) {
  .arrival--margin:not(:last-child) {
    margin-bottom: 60px;
  }
}
.arrival__box {
  padding: 0 37px;
  position: relative;
}
.arrival__box::before {
  content: "";
  width: 13px;
  height: 12px;
  background: url(../img/icons/arrow-left.svg) center/contain no-repeat;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
  cursor: pointer;
}
.arrival__box::after {
  content: "";
  width: 13px;
  height: 12px;
  background: url(../img/icons/arrow-right.svg) center/contain no-repeat;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -6px;
  cursor: pointer;
}
@media (max-width: 1140px) {
  .arrival__box {
    padding: 0;
    position: relative;
  }
  .arrival__box::before {
    width: 0;
  }
  .arrival__box::after {
    width: 0;
  }
}

.fashion {
  color: #FFF;
}
.fashion--margin:not(:last-child) {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .fashion--margin:not(:last-child) {
    margin-bottom: 80px;
  }
}
@media (max-width: 425px) {
  .fashion--margin:not(:last-child) {
    margin-bottom: 60px;
  }
}
.fashion__border {
  border-radius: 30px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 768px) {
  .fashion__border {
    grid-template-columns: repeat(1, 1fr);
  }
}
.fashion__block {
  position: relative;
}
.fashion__block img {
  height: 100%;
  width: 100%;
  aspect-ratio: 626/639;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
}
.fashion__content {
  padding: 183px 74px;
}
@media (max-width: 768px) {
  .fashion__content {
    padding: 100px 50px;
  }
}
@media (max-width: 425px) {
  .fashion__content {
    padding: 50px 20px;
  }
}
.fashion__title {
  font-family: "Core Sans C";
  font-size: 34px;
  font-weight: 800;
  line-height: 50px; /* 147.059% */
  letter-spacing: 0.208px;
}
.fashion__title:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 425px) {
  .fashion__title:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 425px) {
  .fashion__title {
    font-size: 26px;
  }
}
.fashion__text {
  font-family: "Causten";
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
}
.fashion__text:not(:last-child) {
  margin-bottom: 50px;
}
@media (max-width: 425px) {
  .fashion__text:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 425px) {
  .fashion__text {
    font-size: 16px;
  }
}
.fashion__button {
  color: #3C4242;
  text-align: center;
  font-family: "Causten";
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  background: #FFF;
  padding: 12px 44px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (any-hover: hover) {
  .fashion__button:hover {
    text-shadow: 1px 1px 1px rgb(161, 157, 157);
    border-radius: 12px;
  }
}

.men--margin:not(:last-child) {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .men--margin:not(:last-child) {
    margin-bottom: 80px;
  }
}
@media (max-width: 425px) {
  .men--margin:not(:last-child) {
    margin-bottom: 60px;
  }
}

.women--margin:not(:last-child) {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .women--margin:not(:last-child) {
    margin-bottom: 80px;
  }
}
@media (max-width: 425px) {
  .women--margin:not(:last-child) {
    margin-bottom: 60px;
  }
}

.brands {
  color: #FFF;
  text-align: center;
}
.brands--margin:not(:last-child) {
  margin-bottom: 78px;
}
.brands__boundaries {
  border-radius: 12px;
  background: #3C4242;
  padding: 45px 122px;
}
@media (max-width: 1260px) {
  .brands__boundaries {
    padding: 45px 60px;
  }
}
@media (max-width: 450px) {
  .brands__boundaries {
    padding: 30px;
  }
}
.brands__title {
  font-family: "Core Sans C";
  font-size: 50px;
  font-weight: 800;
}
.brands__title:not(:last-child) {
  margin-bottom: 25px;
}
@media (max-width: 680px) {
  .brands__title {
    font-size: 36px;
  }
}
@media (max-width: 450px) {
  .brands__title {
    font-size: 30px;
  }
}
.brands__discount {
  font-size: 22px;
  font-weight: 400;
}
.brands__discount span {
  color: #FBD103;
  font-weight: 700;
}
.brands__discount:not(:last-child) {
  margin-bottom: 67px;
}
@media (max-width: 680px) {
  .brands__discount:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media (max-width: 450px) {
  .brands__discount:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  .brands__discount {
    font-size: 18px;
  }
}
.brands__box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(177px, 1fr));
  gap: 25px;
}
@media (max-width: 1260px) {
  .brands__box {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 500px) {
  .brands__box {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
.brands__item {
  height: 100%;
  border-radius: 12px;
  background: #FFF;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1260px) {
  .brands__item {
    grid-column: span 2;
  }
  .brands__item--position {
    grid-column: span 3;
  }
}
@media (max-width: 500px) {
  .brands__item {
    grid-column: span 1;
  }
}
@media (any-hover: hover) {
  .brands__item:hover {
    -webkit-box-shadow: 5px 7px 7px black;
            box-shadow: 5px 7px 7px black;
  }
}
.brands__link img {
  width: 100%;
  height: 100%;
  aspect-ratio: 149/53;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.limelight--margin:not(:last-child) {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .limelight--margin:not(:last-child) {
    margin-bottom: 80px;
  }
}
@media (max-width: 425px) {
  .limelight--margin:not(:last-child) {
    margin-bottom: 60px;
  }
}

.feedback--margin:not(:last-child) {
  margin-bottom: 136px;
}
@media (max-width: 768px) {
  .feedback--margin:not(:last-child) {
    margin-bottom: 90px;
  }
}
@media (max-width: 425px) {
  .feedback--margin:not(:last-child) {
    margin-bottom: 60px;
  }
}
.feedback__card {
  border-radius: 10px;
  border: 1.8px solid #BEBCBD;
  background: #FFF;
  padding: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media (any-hover: hover) {
  .feedback__card:hover {
    border: 1.8px solid #7f7d7d;
  }
}
.feedback__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
.feedback__picture {
  max-width: 58px;
  max-height: 58px;
}
.feedback__name {
  color: #3C4242;
  font-family: "Core Sans C";
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.44px;
}
.feedback p {
  color: #807D7E;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
}
.feedback__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px;
  margin-bottom: 136px;
}
@media (max-width: 768px) {
  .feedback__box {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    margin-bottom: 30px;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 50px;
}
@media (max-width: 768px) {
  .products {
    gap: 30px;
  }
}
@media (max-width: 425px) {
  .products {
    gap: 15px;
  }
}

.heading {
  color: #3C4242;
  font-family: "Core Sans C";
  font-size: 34px;
  font-weight: 600;
  line-height: 33.5px; /* 98.529% */
  letter-spacing: 0.68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.heading::before {
  content: "";
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background: #8A33FD;
}
.heading:not(:last-child) {
  margin-bottom: 70px;
}
@media (max-width: 768px) {
  .heading:not(:last-child) {
    margin-bottom: 50px;
  }
}
@media (max-width: 425px) {
  .heading:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .heading {
    font-size: 30px;
  }
}
@media (max-width: 425px) {
  .heading {
    font-size: 28px;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.card__image {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.card__image--heart:before {
  content: "";
  width: 33px;
  height: 33px;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  top: 20px;
  right: 15px;
  background: white url(../img/icons/favorite.svg) center no-repeat;
}
@media (any-hover: hover) {
  .card__image--heart:before:hover {
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
  }
}
.card__image img {
  height: 100%;
  width: 100%;
  aspect-ratio: 270/393;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.card__image img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.card__image--size img {
  aspect-ratio: 263/263;
}
.card__body {
  display: grid;
  grid-template-columns: 1fr 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__body--size {
  grid-template-columns: 1fr 85px;
}
.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.card__label {
  color: #2A2F2F;
  font-size: 17.875px;
  font-weight: 700;
  line-height: 27.93px; /* 156.25% */
  letter-spacing: -0.715px;
}
.card__label:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .card__label {
    font-size: 20px;
  }
}
.card__link {
  color: #7F7F7F;
  font-size: 13.407px;
  font-weight: 500;
  line-height: 27.93px; /* 208.333% */
  letter-spacing: -0.536px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.card__link:hover {
  color: #2A2F2F;
}
@media (max-width: 768px) {
  .card__link {
    font-size: 18px;
  }
}
@media (max-width: 425px) {
  .card__link {
    font-size: 20px;
  }
}
.card__arrow {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.card__arrow img {
  height: 100%;
  width: 100%;
  aspect-ratio: 19/13;
  -o-object-fit: contain;
     object-fit: contain;
}
.card__arrow:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}
.card__price {
  border-radius: 8px;
  background: #F6F6F6;
  color: #3C4242;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 19px;
}

.footer {
  width: 100%;
  min-height: 731px;
  background: #3C4242;
  color: #F6F6F6;
}
.footer__title {
  font-size: 28.579px;
  font-weight: 700;
  line-height: 216.9%; /* 61.988px */
}
.footer__title:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .footer__title {
    font-size: 24px;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .footer__title {
    text-decoration: underline;
  }
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
  font-weight: 500;
  line-height: 216.9%; /* 39.042px */
}
@media (max-width: 1024px) {
  .footer__list {
    line-height: normal;
  }
}
.footer__list li {
  font-size: 18px;
  font-weight: 500;
  line-height: 216.9%; /* 39.042px */
}
@media (any-hover: hover) {
  .footer__list li:hover a {
    text-shadow: 3px 3px 3px black;
  }
}
@media (max-width: 1024px) {
  .footer__list li {
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
  }
}
.footer__details {
  padding: 59px 70px;
}
@media (max-width: 1100px) {
  .footer__details {
    padding: 40px;
  }
}
@media (max-width: 768px) {
  .footer__details {
    padding: 30px 0;
  }
}
.footer__block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 34%;
  gap: 80px;
}
@media (max-width: 1024px) {
  .footer__block {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .footer__block {
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid #BEBCBD;
  }
}
.footer__media {
  display: grid;
  grid-template-columns: 1fr 34%;
  gap: 10px;
}
.footer__media:not(:last-child) {
  margin-bottom: 50px;
}
@media (max-width: 475px) {
  .footer__media {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -ms-flex-item-align: end;
      align-self: end;
}
.footer__social a {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
@media (any-hover: hover) {
  .footer__social a:hover img {
    -webkit-box-shadow: 2px 2px 2px black;
            box-shadow: 2px 2px 2px black;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.footer__social img {
  border-radius: 10px;
}
.footer__sub-title {
  font-size: 28.579px;
  font-weight: 700;
  line-height: 216.9%; /* 61.988px */
}
@media (max-width: 830px) {
  .footer__sub-title {
    font-size: 22px;
  }
}
@media (max-width: 590px) {
  .footer__sub-title {
    font-size: 18px;
  }
}
@media (max-width: 375px) {
  .footer__sub-title {
    font-size: 16px;
  }
}
.footer__stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__stores img {
  border: 1px solid rgba(38, 38, 38, 0.364);
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .footer__stores img:hover {
    -webkit-box-shadow: 2px 2px 2px black;
            box-shadow: 2px 2px 2px black;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.footer__categories {
  border-top: 1px solid #BEBCBD;
  border-bottom: 1px solid #BEBCBD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}
.footer__categories:not(:last-child) {
  margin-bottom: 37px;
}
.footer__categories img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
@media (max-width: 375px) {
  .footer__categories img {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@media (any-hover: hover) {
  .footer__categories img:hover {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@media (max-width: 520px) {
  .footer__categories {
    padding: 5px;
  }
}
.footer__copyright {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 200%; /* 36px */
}